.layoutContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-bottom: 140px;

  .headMenu {
    padding-top:40px;
    position: fixed;
    top: 0;
    right: 60px;
    span {
      font-size: 16px;
      font-weight: 500;
      margin-right: 16px;
    }
  }
  .headMenu+.innerHasBanner {

  }
  .headMenu+.innerNoBanner{
    padding-top: 80px;
  }
}
.playerContainer {
  width: 680px;
  height: 120px;
}