.articleWrapper {
    margin-top: 32px;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;
    .title {
        font-size: 28px;
        width: 1200px;
        &:hover {
            cursor: pointer;
            color:#141414;
        }
    }
    .content {
        font-style: italic;
        color:#666;
        width: 1084px;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover {
            color:#262626;
            cursor: pointer;
        }
    }

    .date {
        color: #8c8c8c;
        // margin-top: 16px;
        margin: 8px 0;
        font-style: italic;
    }

    .desc {

    }
}